
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - PUS</title>

    <!-- shared styles -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PUS.styles.css" asp-append-version="true" />
    <!-- added styles -->
    @await RenderSectionAsync("Styles", required: false)

    <!-- ========================================================== -->
    <!-- shared scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        function show_modal_details(url) {
            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    $("#partialModal").find(".modal-content").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>
    <!-- added scripts -->
    @await RenderSectionAsync("Scripts", required: false)
    <!-- ========================================================== -->
</head>

<body style="background-color: #ffffe6">

    <header>

        <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #99832E;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://pus2.lumendecorde.eu/img/logo.svg" height="40">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapse">

                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <partial name="_LoginPartial" />
                    </ul>

                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Szukaj" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>

                </div>
            </div>
        </nav>

    </header>

    <div class="container" style="max-width: 99%;">
        <main role="main" class="pb-3">
            @RenderBody()
            <div id="partialModal" class="modal fade show" tabindex="-1" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="flex-shrink-0 fixed-bottom p-1 bg-dark text-white-50">
        <div class="container">
            &copy; 2022 - PUS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

</body>
</html>
