@using Microsoft.AspNetCore.Identity
@inject SignInManager<Profile> SignInManager
@inject UserManager<Profile> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        /*
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        */

        <li class="nav-item dropdown mr-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                Twoje oferty
            </a>
            <ul class="dropdown-menu  dropdown-menu-end" aria-labelledby="navbarNavDarkDropdown">
                <li><a class="dropdown-item" href="javascript:show_modal_details('/Services/Create')">Dodaj ofertę</a></li>
                <li><a class="dropdown-item" href="javascript:show_modal_details('/Services/ActiveList')">Aktywne oferty</a></li>
                <li><a class="dropdown-item" href="javascript:show_modal_details('/Services/ArchiveList')">Archiwum ofert</a></li>

            </ul>
        </li>

        <li class="nav-item dropdown mr-2">

            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                Zamówienia
               @* <sup><span class=" badge rounded-pill bg-danger">4</span></sup> *@

            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li>
                    <a class="dropdown-item">
                        Ustalenia <sup><span class=" badge rounded-pill bg-danger">2</span></sup>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item">
                        Transakcje aktywne <sup><span class=" badge rounded-pill bg-danger">2</span></sup>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item">Kalendarz</a>
                </li>
                <li>
                    <a class="dropdown-item">Archiwum transakcji</a>
                </li>

            </ul>
        </li>

        <li class="nav-item dropdown mr-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                @(UserManager.GetUserName(User))
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarNavDarkDropdown">
                <li>
                    <a class="dropdown-item">
                        Mój profil
                    </a>
                </li>
                <li>
                    <a class="dropdown-item">
                        Zmiana hasła
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </li>

    }
    else
    {

        <li class="nav-item">
            <a class="nav-link" href="#" onclick="show_modal_details('@($"/Account/Login")')">
                <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
            </a>
        </li>

    }
</ul>