@model IEnumerable<PUS.Models.Service>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Profile> SignInManager
@inject UserManager<Profile> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="row justify-content-md-center p-1">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Chcesz zobaczyć więcej?</strong>
                <a href="">Załóż konto na platformie</a> lub <a href="">zaloguj się</a>.
                <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }


    <div class="row justify-content-md-center">

        @foreach (var item in Model)
        {
            <div class="card m-2" style="width: 18rem;">
                <img src=@($"img/{item.Id}.png") onerror="this.src='img/placeholder.png';" class="card-img-top ratio-4x3" alt="...">

                <div class="card-body m-0 p-0">

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="progress mt-1" style="height: 5px">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 33%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 33%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 34%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="btn-group btn-group-sm mt-1 w-100" role="group" aria-label="menu">

                            <button onclick="show_modal_details('@($"/User/Details/{item.UserId}")')" type="button" class="btn btn-outline-secondary">
                                <i class="fa-solid fa-user-large"></i>
                            </button>

                            <button onclick="show_modal_details('@($"/Services/Details/{item.Id}")')" type="button" class="btn btn-outline-secondary">
                                <i class="fa-solid fa-eye"></i>
                            </button>

                            <button onclick="js6historiaTransakcji()" type="button" class="btn btn-outline-secondary">
                                <i class="fa-solid fa-piggy-bank"></i> <b>46</b>
                            </button>

                            <button onclick="js6Komunikator()" type="button" class="btn btn-outline-secondary">
                                <i class="fa-solid fa-comments"></i>
                            </button>

                            <button onclick="js6zamowienie()" type="button" class="btn btn-outline-secondary">
                                <i class="fa-solid fa-right-left"></i>
                            </button>

                            <button onclick="#" type="button" class="btn btn-outline-secondary">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </button>
                        </div>
                    }

                    <p class="card-text mt-1 mb-1">@Html.DisplayFor(modelItem => item.Title)</p>

                </div>
            </div>
        }

    </div>
</div>